main > div:nth-of-type(1) {
  background-color: rgba(3, 120, 166, 0.9);
}
main > div:nth-of-type(2) {
  background-color: rgba(62, 89, 2, 0.9);
}
main > div:nth-of-type(3) {
  background-color: rgba(3, 140, 127, 0.9);
}
main > div:nth-of-type(4) {
  background-color: rgba(102, 115, 2, 0.9);
}

@media (max-width: 640px) {
  main > div:nth-child(2),
  main > div:nth-child(4) {
    flex-direction: column-reverse;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
}

@media (min-width: 1025px) and (max-width: 1280px) {
}

@media (min-width: 1281px) and (max-width: 1536px) {
}

@media (min-width: 1537px) {
}
